<center class="banner">
  <div class='hidden-xs'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="{{ settings.ads.google.publisher }}"
     data-ad-slot="{{ settings.ads.google.slots[1] }}"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class='visible-xs-block'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="{{ settings.ads.google.publisher }}"
     data-ad-slot="{{ settings.ads.google.slots[3] }}"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</center>
