{% extends 'layout.html' %}

{% block meta %}
  {% parent %}
{% endblock %}

{% block css %}
  {% parent %}
  {% if nextDispense %}<link rel="stylesheet" href="/css/jquery.countdown.css">{% endif %}
  <link rel="stylesheet" href="/css/memory-game.css">
{% endblock %}

{% block body %}
<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='col-md-3'>
      {% block left %}
        {% include "partials/_left.html" %}
      {% endblock %}
    </div>


    <div class='col-md-6'>
      <div class='row-fluid'>
        <div class='col-md-6'>
          <h1>{{res.coinSettings[0].currency}}</h1>
          <h1>TODO: Coin 1, current standings (number of users, total amount, pct against base, winning or loosing etc...)</h2>
        </div>
        <div class='col-md-6'>
          <h1>TODO: Coin 2, current standings (number of users, total amount, pct against base, winning or loosing etc...)</h2>
        </div>
      </div>

      <div class='row-fluid'>
        <div class='col-md-12'>
          
          <form action='/battle' method='POST'>
            <div class='well'>
              <h3>Your <a href="https://bleutrade.com/home/{{settings.bleutradeAffiliateID}}">BleuTrade</a> username</h3>
              <div class="form-group">
                <div class="col-xs-12">
                  <input type='text' id="username" name='username' class="form-control input-large" required="" placeholder='Enter your Bleutrade Username' value="" tabindex="1">
                </div>
              </div>
              <div class="clearfix"></div>

              {% if error %}
                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                  </div>
                </div>
                <div class="clearfix"></div>
              {% endif %}
              <h3>Prove you are human</h3>
              <center>
                <div id="recaptcha_area" class="form-group">
                  {{recaptcha_form|raw}}
                </div>
              <center>
              <div class="clearfix"></div>

              <div class="banner">
                <iframe data-aa='{{ settings.ads.anonymousAds.slots[0] }}' src='//ad.a-ads.com/{{ settings.ads.anonymousAds.slots[0] }}?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
              </div>

              <div class="form-group">
                <input type='submit' class='btn btn-primary btn-block' value='Vote'>
              </div>

              <div class="banner">
                <iframe data-aa='{{ settings.ads.anonymousAds.slots[1] }}' src='//ad.a-ads.com/{{ settings.ads.anonymousAds.slots[1] }}?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
              </div>

            </div>
          </form>




        </div>
      </div>
    </div>

    <div class='col-md-3'>
      {% block right %}
        {% include "partials/_right.html" %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  {% parent %}
  <script>
  </script>

  {% if nextDispense %}
    <script src="/js/jquery.plugin.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script>
      $(function() {
        $('#countdown').countdown({until: new Date('{{nextDispense|date('r')}}'), expiryUrl: '/play',
          format: 'yowdhms'}); 
      });
    </script>
  {% endif %}
